modules = ["nodejs-20", "python-3.11"]

[userenv]

[userenv.shared]
DISCORD_TOKEN = "MTM2MDMyOTgwOTY3MDA0NTczMQ.GLJsTj.DWHaO6L4NFviUTIMPgVHY9jxIH-hvHq8NF4yww"


[workflows]
runButton = "Run Project"

[[workflows.workflow]]
name = "Run Project"
mode = "sequential"
author = 44439860

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python ping.py"

[nix]

[[ports]]
localPort = 3000
externalPort = 3000
