modules = ["nodejs-20", "python-3.11"]

[userenv]

[userenv.shared]
DISCORD_TOKEN = "MTM2MDMyOTgwOTY3MDA0NTczMQ.Ghm--6.v_Mq8H7M3a-Fb5_k7rNqlbvLzvgBXY3aWvYZzI"[userenv]

[userenv.shared]
DISCORD_TOKEN = "MTM2MDMyOTgwOTY3MDA0NTczMQ.Ghm--6.v_Mq8H7M3a-Fb5_k7rNqlbvLzvgBXY3aWvYZzI"

[workflows]
runButton = "Run Project"

[[workflows.workflow]]
name = "Run Project"
mode = "sequential"
author = 44439860

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python ping.py"

[nix]

[[ports]]
localPort = 3000
externalPort = 3000
