modules = ["nodejs-20", "python-3.11"]




[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Server & Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Music Bot (music.js)"

[[workflows.workflow]]
name = "Web Server & Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Run Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Music Bot (music.js)"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node music.mjs"

[workflows.workflow.metadata]
outputType = "console"

[nix]
packages = ["killall", "unixtools.ping", "at"]
channel = "stable-25_05"

[[ports]]
localPort = 80
externalPort = 8000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[deployment]
run = ["sh", "-c", "/nix/store/1lagpgadaybvs1n2312gysg2phjk89y8-nodejs-20.20.0-wrapped/bin/node $file"]
deploymentTarget = "cloudrun"
